<h1> 财务 </h1>

<%= form_for @caiwu, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
<h3> 桌号</h3>
<%= f.select :zhuohao, [1,2,3,4,5,6]%>
    
<%=f.number_field(:jine) %>
<%= f.submit "提交金额", class: "btn btn-primary" %> 

<% end %>

<%= render @caiwus %>