<!DOCTYPE html>
<html>

  <head>
  <title><%=yield(:title) %> |Welcome to the shop web</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <body>
        <header class="navbar navbar-fixed-top navbar-inverse"> 
          <div class="container">
             <%= link_to "首页", root_path, id: "logo" %> <nav>
                <ul class="nav navbar-nav navbar-right">
                     <li><%= link_to "预订", '#' %></li>
                     <li><%= link_to "shop展示", '#' %></li>
                     <li><%= link_to "财务", '#' %></li>
                     <li><%= link_to "评价", index_path %></li>
                     <% if logged_in? %>
                     <li class ="dropdown" >
                       
                      <button class="btn dropdown-toggle" id="mydropdownmenu" data-toggle="dropdown">用户信息</button>
           
                       <ul class = "dropdown-menu">
                       
                        <li><%= link_to "修改资料", edit_vip_path(current_user) %></li>
                    
                        <li><%= link_to "我的评价", show_path %></li>
                        <li><%= link_to "退出登陆", dengchu_path, method: "delete" %></li>
                       </ul>
                       <% else %>


                         <li><%= link_to "登陆", denglu_path %></li>
                     <% end %>
                </ul> 
              </nav>
           </div>
        </header>

      <div class = 'container' >
          <%= yield %>
      </div>    
  </body>

  </html>


